@font-face{
	font-family: "Gilroy-ExtraBold";
	src: url("../font/gilroyextrabold.woff2") format("woff2");
	src: url("../font/gilroyextrabold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "Open Sans Light";
   src: url("../font/opensanslight.woff2") format("woff2");
   src: url("../font/opensanslight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


@font-face{
	font-family: "Gilroy-light";
	src: url("../font/gilroylight.woff2") format("woff2");
	src: url("../font/gilroylight.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
	min-width: 1240px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
.logo{
	position: absolute;
	top: -13px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 48px;
	left: 59px;
}
.logo:hover{
	opacity: 0.8;
}
.logo:focus{
	opacity: 0.5;
}
.main-header{
	min-height: 265px;
	margin-top: -40px;
	padding-top: 34px;
	background-color: #f7e296;
	position: relative;
	top: 40px;
}
.container{
	width: 1160px;
    margin: 0 auto;
}
.center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.search-form{
	padding-left: 63px;
}
.search-form input[type="search"]{
	width: 315px;
    min-height: 49px;
    background-color: #f7e296;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px;
}
.search-form input[type="search"]:hover{
	border-bottom: 2px solid #000;
	cursor: pointer;
}
.search-form input[type="submit"]{
	display: none; 
    width: 85px;
    min-height: 49px;
    margin-left: -4px;
    background-color: #f7e296;
    border: 2px solid #000;
    cursor: pointer;
}
.user-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding-right: 100px;
	position: absolute;
	top: 52px;
	align-self: flex-end;
	right: 0;
}
.user-block .enter{
	margin-right: 216px;
	line-height: 36px;
	letter-spacing: .012em;
}
.user-block .enter:hover{
	opacity: 0.8;
}
.user-block .enter:focus{
	opacity: 0.5;
}
.user-block .compare{
    margin-right: 40px;
    padding-right: 70px; 
    line-height: 36px;
	letter-spacing: .012em;
}
.user-block .compare:hover{
	opacity: 0.8;
}
.user-block .compare:focus{
	opacity: 0.5;
}
.user-block .basket{
	position: absolute;
	right: 59px;
	line-height: 36px;
	letter-spacing: .012em;
}
.user-block .basket:hover{
	opacity: 0.8;
}
.user-block .basket:focus{
	opacity: 0.5;
}
.index-catalog{
	font-size: 18px;
	letter-spacing: .2em
}
.index-catalog:hover{
	opacity: 0.8;
}
.index-catalog:focus{
	opacity: 0.5;
}
.main-catalog{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-top: 34px;	
}
.main-links1{
    position: absolute;
    left: 63px;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    font-size: 18px;
    letter-spacing: .2em;
}

.catalog-add{
	display: none;
}
.main-links2{
	position: absolute;
	right: 435px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	letter-spacing: .2em;
}
.main-links2:hover{
	opacity: 0.8;
}
.main-links2:focus{
	opacity: 0.5;
}
.main-links3{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	position: absolute;
	right: 286px;
	letter-spacing: .2em;
}
.main-links3:hover{
	opacity: 0.8;
}
.main-links3:focus{
	opacity: 0.5;
}
.main-links4{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	position: absolute;
	right: 59px;
	letter-spacing: .2em;
}
.main-links4:hover{
	opacity: 0.8;
}
.main-links4:focus{
	opacity: 0.5;
}
.slider .slide:not(:first-child){
    display: none;
}
.slider ul{
	list-style-type: none;
}
.main-content{
    position: relative;
    min-height: 495px;
	min-width: 1162px;
	margin: 0 auto;
}
/*
.items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
section.selfie img{
	position: absolute;
	left: 92px;
	top: -83px;
}
section.selfie .big-number{
	color: #fff;
	position: absolute;
	top: -110px;
	right: 45px;
}
.main-description h2{
	margin-left: 510px;
	margin-top: -100px;
}
.main-description p{
	margin-left: 510px;
	margin-top: -10px;
}
ul.details{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

ul.details li:nth-child(1) .feature{
	position: absolute;
	left: 600px;
	top: 320px;
}
ul.details li:nth-child(1) .type{
	position: absolute;
	left: 600px;
	top: 375px;
}
ul.details li:nth-child(2) .feature{
	position: absolute;
	left: 760px;
	top: 320px;
}
ul.details li:nth-child(2) .type{
	position: absolute;
	left: 760px;
	top: 375px;
}
ul.details li:nth-child(3) .feature{
	position: absolute;
	left: 900px;
	top: 320px;
}
ul.details li:nth-child(3) .type{
	position: absolute;
	left: 900px;
	top: 375px;
}
*/
/*
.items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	outline: 1px solid blue;
	height: 469px;
	margin-top: -110px;
}
.main-description h2{
	padding-right: 80px;
	padding-bottom: 50px;
}
.items .big-number{
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	outline: 1px solid black;
 	width: 0px;
 	height: 0px;
 	padding-left: 300px;
 	
 	color: #fff;
}
.items img{
	padding-bottom: 115px;
	padding-left: 91px;
}
.items .main-description{
    padding-right: 75px;
    padding-bottom: 295px;
    position: relative;
}
.items .main-description p{
	width: 600px;
	line-height: 5px;
}
.caption-description{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	outline: 1px solid green;
	flex-direction: column;
	height: 150px;
	position: absolute;
	top: 370px;
}

.main-description .slide-params{
    margin-top: auto;
}
*/
/**/
    .slider {
        margin-top: -110px;
        margin-bottom: 50px;
        margin-right: 70px;
    }
    .slide-header{
    	font-size: 48px;

    }

    .slide {
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .slide-image {
        width: 300px;
    }

    .slide-description {
        width: 500px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding-top: 50px;
        margin-left: 100px;
    }
    .slide-description p{
    	font-size: 15px;
    	line-height: 30px;
    	letter-spacing: .012em;
    	margin: 0 auto;
    }
    .slide-description .more-info{
    	font-size: 18px;
    	width: 220px;
    	text-align: center;
    	letter-spacing: 3.6px;
    	display: inline-block;
    	position: relative;
    	padding: 9px 5px;
    	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    	margin-bottom: 53px;
    }
    .slide-description .more-info::before{
        content: "";
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 20%;
        background-color: #f0c52e;
        transition: all .2s ease-in-out;
    }
    .slide-description .more-info:hover::before{
    	 content: "";
        position: absolute;
        top: 5%;
        left: 0;
        z-index: -1;
        width: 100%;
        height:90%;
        background-color: #f0c52e;
    }

    .slide-number {
        font-size: 180px;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .slide-params {
        margin-top: auto;
    }
    .slider.smart-bracelete,.slider.drone{
    	display: none;
    }
    .slide-params td{
    	font-family: "Gilroy-light","Arial", sans-serif;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .012em;
    }
    .slide-params th{
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        font-family: "Open Sans Light","Arial",sans-serif;
        vertical-align: baseline;
        letter-spacing: .012em;
        padding-right: 90px;
    }
/**/


.item-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0;

}
ul.type-item li{
	text-align: center;
	width: 160px;
	padding-right: 40px;
}
.services-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service-item.guarantee,.service-item.credit{
	display: none;
}
.services-block .sevices-list li:nth-child(1){
   
}
.sercice-item{

}
section.partners .partners-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.colored{
	display: none;
}
/*
ul.product-slider li:nth-child(1) a{
    position: absolute;
    right: 100px;
    top: 375px;
}
*/
section.partners{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.services{
	min-height: 288px;
    margin-bottom: 94px;
}
.services-list{
    position: relative;
    top: -20px;
    float: left;
    width: 300px;
    margin-top: 0;
    padding-left: 0;
}
.services-list li{
	margin-bottom: 24px;
}
.services-list button{
	min-width: 135px;
    max-width: 250px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    padding: 9px 5px;
    text-align: center;
}
.services-item{
	float: right;
	width: 715px;
	margin-right: 45px;
    padding-top: 10px;
    padding-left: 10px;
    clear: both;
    position: relative;
}
.services-item h2{
	float: left;
    width: 440px;
    margin-top: 0;
    margin-bottom: 26px;
    letter-spacing: .018em;
}

/*services container*/
/*partners*/
.partners{
	margin-bottom: 95px;
	font-size: 0;
}
.our-partners li{
    display: inline-block;
    position: relative;
    width: 260px;
    margin-right: 40px;
}
/*

*/
.about-company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-us, .contacts {
    width: 560px;
}
/*main-footer*/
.foot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}
.footer-center .links-for-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; 
}
.footer-center .links-for-footer li{
	padding-right: 50px;
}
.footer-center .social-for-footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
}

.footer-center .social-for-footer li{
	margin-right: 50px;
	padding-left: 30px;
}
.footer-right .footer-for-user{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-right .footer-for-user li{
	padding-right: 20px;
}
.catalog-title .main-title{
	padding-top: 40px;
	padding-left: 50px;
}
.catalog-title .breadcrumbs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.catalog-title .breadcrumbs li{
	padding-left: 20px;
}
.content-block {
  display: flex;
  justify-content: space-between;
}

.form-filter {
  flex: 0 0 468px; 
}

.catalog-body {
  flex: 0 0 973px; 
}

.content-items {
  display: flex;
  flex-wrap: wrap;
}

.thing-item {
  flex: 0 0 361px;  
  margin-top: 40px; 
}


.thing-item:first-child,
.thing-item:nth-child(2) {
  margin-top: 0; 
}

.list-navigation, 
.products-catalog{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	letter-spacing: 0.2em;
	float: left;

}
.list-navigation li{
	list-style-type: none;
}
.dropdown-menu li{
    list-style-type: none; 
    font-family: "Open Sans Light","Arial", sans-serif;
    display: none;
 }
 .dropdown-menu li a{
 	text-decoration: none;
 	font-size: 15px;
 	color: #464646;
 }
 .nav-delivery,
 .nav-guarantees,
 .nav-contacts{
 	text-decoration: none;
 	color: #000;
 	font-size: 18px;
 	letter-spacing: 0.15em;
 }
 .selfie-caption{
 	font-size: 47px;
 	letter-spacing: 1px;
 	line-height: 56px;
 }

 .main-description p{
 	font-size: 15px;
 	letter-spacing: 0.01em;
 	color: #464646;
 	line-height: 25px;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .details .feature{
 	font-size: 36px;
 	letter-spacing: 0.01em;
 	font-family: "Gilroy-light","Arial", sans-serif;
 }
 .details .type{
 	font-size: 13px;
 	letter-spacing: 0.01em;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .big-number{
 	font-size: 179px;
 	letter-spacing: 0.01em;
 	color: #000;
 }
 .more-info{
 	letter-spacing: 0.01em;
 	color: #000;
 	font-size: 18px;
 	letter-spacing: 4px;
 	text-decoration: none;
 }
 
.type-item-list {
    display: flex;
    justify-content: space-between; 
}

.type-item-list li {
    width: 160px; 
    list-style-type: none;
}
.type-item-list li h3{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
}

.type-link-image-wrapper {
    background-color: #f7e296;
    height: 160px; 
    margin-bottom: 20px; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.type-link-image-wrapper:hover{
    background-color: #f0c52e;
}
.type-link:hover .type-link-image-wrapper{
	background-color: #f0c52e;
}
.type-link:focus{
    opacity: 0.5;
}

body .services{
	background-color: #e5e5e5;
	width: 1520px;
	margin-left: -180px;
}
.services-block{
	margin-top: 190px;
}

 .services-block .services-list{
	position: relative;
    top: 30px;
    width: 300px;
    margin-top: 0;
    padding-left: 175px;
}
.services-block .services-list::after{
	content: "";
    position: absolute;
    top: -25%;
    right: 20px;
    display: block;
    width: 7px;
    height: 319px;
    background-color: #000;
}
.services-list li{
	list-style-type: none;	
}
.services-list li button{
	z-index: 1;
    min-width: 135px;
    max-width: 250px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 3.6px;
    font-size: 18px;
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
    text-transform: uppercase;
}
.services-list li button:focus:first-child(1){
   color: #f7e184;
}
.services-list .service-del:hover{
	content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    transition: all .2s ease-in-out;
    }
 .services-list .service-del:hover::before{
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    z-index: -1;
    width: 100%;
    height:90%;
    background-color: #f0c52e;
}
.service-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	width: 900px;
	justify-content: space-between;
	position: relative;
	height: 288px;
}

.services-list button{
	font-size: 18px;
	color: #000;
	letter-spacing: 0.01em;
}

.service-item h2{
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
	margin-top: -25px;
}
.service-item p{
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 30px;
	font-family: "Open Sans Light","Arial", sans-serif;
	width: 450px;
	position: absolute;
	top: 60px;
}
.service-item svg{
	margin-right: 205px;
}
.partners .partners-list .dji img::after{
    content: url(img/colored-gji-logo.jpg);
}
.about-company .about-us::before{
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 80px;
    height: 7px;
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
	background-color: #000;
}
.about-company .contacts::before{
    content: "";
    position: absolute;
    left: 600px;
    width: 80px;
    height: 7px;
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
	background-color: #000;
}
.about-us{
	margin-top: 35px;
	position: relative;
}
.about-us h2{
	font-size: 47px;
	color: #000;
	line-height: 30px;
	margin-top: 5px;
}
.about-us p{
	font-family: "Open sans light","Arial", sans-serif;
	font-size: 15px;
	color: #464646;
	line-height: 30px;
	padding-top: 20px;
}
.about-us ul li{
	list-style-type: none;
	letter-spacing: 0.01em;
	line-height: 40px;	
}
.about-us a{
	text-decoration: none;
	color: #000;
	letter-spacing: 0.2em;
	font-size: 18px;
}
.about-us .device{
	font-size: 18px;
    width: 220px;
    text-align: center;
    letter-spacing: 3.6px;
    display: inline-block;
    position: relative;
    padding: 9px 5px;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    margin-bottom: 53px;
}
.about-us .device::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    transition: all .2s ease-in-out;
}
.about-us .device:hover::before{
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 80%;
    background-color: #f0c52e;
    transition: all .2s ease-in-out;
}
.about-us .occupation li:first-child::before{
	content: "";
	position: absolute;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #b2b2b2;
	height: 10px;
	width: 10px;
	left: 0px;
	bottom: 205px;
}
.about-us .occupation li:nth-child(2)::before{
	content: "";
	position: absolute;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #b2b2b2;
	height: 10px;
	width: 10px;
	left: 0px;
	bottom: 165px;
}
.about-us .occupation li:nth-child(3)::before{
	content: "";
	position: absolute;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #b2b2b2;
	height: 10px;
	width: 10px;
	left: 0px;
	bottom: 125px;
}
.contacts .write-us{
	font-size: 18px;
    width: 220px;
    text-align: center;
    letter-spacing: 3.6px;
    display: inline-block;
    position: relative;
    padding: 9px 5px;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    margin-bottom: 53px;
}
.contacts .write-us::before{
	content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    transition: all .2s ease-in-out;
}
.contacts .write-us:hover::before{
	content: "";
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 80%;
    background-color: #f0c52e;
    transition: all .2s ease-in-out;
}
.contacts p{
	color: #464646;;
	line-height: 30px;
	font-size: 15px;
}
.contacts h2{
	color: #000;
	font-size: 47px;
}
.main-footer{
	background-color: #464646;
	height: 320px;
	width: 1519px;
}
.footer-left{
	position: relative;
}

.footer-left h2{
	font-size: 48px;
	color: #ffc600;
    letter-spacing: 0.01em;
    position: absolute;
    bottom: 60px;
    right: -120px;
}
.footer-left h2:hover{
	opacity: 0.8;
}
.footer-left h2:focus{
	opacity: 0.5;
}
.footer-left p{
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	position: absolute;
	top: 50px;
	right: -152px;
	letter-spacing: .0.9em;
}
.footer-left::before{
	content: "";
	position: absolute;
	width: 85px;
	height: 9px;
	bottom: -30px;
	right: -45px;
	background-color: #f0c52e;
}
.links-for-footer{
	padding-left: 150px;
	padding-top: 50px;
}
.links-for-footer a{
	text-decoration: none;
	line-height: 24px;
	letter-spacing: .2em;
	list-style-type: none;
	color: #fff;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
}
.footer-center{
	width: 440px;
}
.footer-center .social-for-footer{
	width: 100px;
	min-height: 38px;
    margin: 0 auto;
}
.footer-center .social-for-footer li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
    justify-content: center;
    padding-left: -30px;
}
.social-for-footer li:first-child(1) a{
}

 .links-for-footer li{
	list-style-type: none;
	color: #fff;
	margin-right: -15px;
}
.footer-for-user a{
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	color: #000;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}

.write-us-name,
.write-us-email,
.write-us-letter{
	font-size: 18px;
	line-height: 24px;
}
.write-us-send-btn{
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 24px;
}
.footer-right{
     position: relative;
     width: 400px;
}
.footer-right ul li{
	list-style-type: none;
	color: #fff;
}
.footer-right ul li a,svg{
	padding-left: 10px;
	color: #fff;
}
.footer-right ul .footer-enter{
     position: absolute;
     bottom: 110px;
     left: 0px;
}
.footer-right ul .footer-compare{
     position: absolute;
     bottom: 110px;
     left: 35%;
}
.footer-right ul .footer-basket{
     position: absolute;
     bottom: 110px;
     right: 0;
}
.footer-right p{
     position: absolute;
     right: 0;
     bottom: 30%;
     color: #fff;
     font-family: "Open Sans Light","Arial", sans-serif;
}
.footer-right .htmlacademy-mini-logo{
	position: absolute;
	right: 0;
	top: 170px;
}


/*Стили для каталога*/

.catalog-title h1{
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}
.breadcrumbs li,a{
	text-decoration: none;
	list-style-type: none;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.01em;
	line-height: 24px;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.breadcrumbs li a:first-child,li:nth-child(2) a,li:nth-child(3){
	opacity: 0.4;
}
.breadcrumbs li a:first-child:hover,li:nth-child(2):hover{
	opacity: 1;
}
.form-filter .filter{
	outline: 1px solid blue;
	height: 70px;
	text-align: center;
	width: 470px;
	position: relative;
	right: 178px;
	background: #DBDBDB;
}
.form-filter .form fieldset{
	border: 2px solid red;
}
.form-filter .color{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	outline: 1px solid black;
	justify-content: flex-start;
}
.filter-for-user div:nth-child(2){
	padding-top: 170px;
}
.filter-for-user div:nth-child(3){
	padding-top: 170px;
}	
.catalog-title{
	padding-top: 24px;
}
.filters-sorter h2{
	font-size: 16px;
	letter-spacing: .2em;
	color: #000;
	line-height: 24px;
}
.catalog-sorting li,
.sorting-inside{
	font-size: 14px;
	line-height: 18px;
    list-style-type: none;
}

.catalog-sorting-slider li{
	list-style-type: none;
}
.filter-for-user legend{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.filter-for-user span{
	color: #000;
	font-family: "Gilroy-light","Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.color label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.bluetooth label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.show{
	font-size: 18px;
	letter-spacing: .2em;
}
.thing-item .in-basket{
	font-size: 24px;
	letter-spacing: .2em;
	line-height: 24px;
}
.thing-item .upload-to-compair{
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.thing-item a{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.thing-item span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-family: "Gilroy-light","Arial", sans-serif;
}

.main-elements-nav li span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav .back-btn,.next-btn{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
