@font-face{
	font-family: "Gilroy-ExtraBold";
	src: url("../font/gilroyextrabold.woff2") format("woff2");
	src: url("../font/gilroyextrabold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "Open Sans Light";
   src: url("../font/opensanslight.woff2") format("woff2");
   src: url("../font/opensanslight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


@font-face{
	font-family: "Gilroy-light";
	src: url("../font/gilroylight.woff2") format("woff2");
	src: url("../font/gilroylight.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body{
	min-width: 1240px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
.logo{
	position: absolute;
	top: -13px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 48px;
	left: 59px;
}
.main-header{
	min-height: 265px;
	margin-top: -40px;
	padding-top: 34px;
	background-color: #f7e296;
	position: relative;
	top: 40px;
}
.container{
	width: 1160px;
    margin: 0 auto;
}
.center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.search-form{
	padding-left: 63px;
}
.user-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding-right: 100px;
	position: absolute;
	top: 52px;
	align-self: flex-end;
	right: 0;
}
.user-block .enter{
	margin-right: 216px;
}
.user-block .compare{
    margin-right: 40px;
    padding-right: 70px; 
}
.user-block .basket{
	position: absolute;
	right: 59px;
}
.main-catalog{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-top: 34px;	
}
.main-links1{
    position: absolute;
    left: 63px;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    font-size: 18px;
}
.catalog-add{
	display: none;
}
.main-links2{
	position: absolute;
	right: 435px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
}
.main-links3{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	position: absolute;
	right: 286px;
}
.main-links4{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	position: absolute;
	right: 59px;
}
.slider .slide:not(:first-child){
    display: none;
}
.slider ul{
	list-style-type: none;
}
.main-content{
    position: relative;
    min-height: 495px;
	min-width: 1162px;
	margin: 0 auto;
}
/*
.items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
section.selfie img{
	position: absolute;
	left: 92px;
	top: -83px;
}
section.selfie .big-number{
	color: #fff;
	position: absolute;
	top: -110px;
	right: 45px;
}
.main-description h2{
	margin-left: 510px;
	margin-top: -100px;
}
.main-description p{
	margin-left: 510px;
	margin-top: -10px;
}
ul.details{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

ul.details li:nth-child(1) .feature{
	position: absolute;
	left: 600px;
	top: 320px;
}
ul.details li:nth-child(1) .type{
	position: absolute;
	left: 600px;
	top: 375px;
}
ul.details li:nth-child(2) .feature{
	position: absolute;
	left: 760px;
	top: 320px;
}
ul.details li:nth-child(2) .type{
	position: absolute;
	left: 760px;
	top: 375px;
}
ul.details li:nth-child(3) .feature{
	position: absolute;
	left: 900px;
	top: 320px;
}
ul.details li:nth-child(3) .type{
	position: absolute;
	left: 900px;
	top: 375px;
}
*/
/*
.items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	outline: 1px solid blue;
	height: 469px;
	margin-top: -110px;
}
.main-description h2{
	padding-right: 80px;
	padding-bottom: 50px;
}
.items .big-number{
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	outline: 1px solid black;
 	width: 0px;
 	height: 0px;
 	padding-left: 300px;
 	
 	color: #fff;
}
.items img{
	padding-bottom: 115px;
	padding-left: 91px;
}
.items .main-description{
    padding-right: 75px;
    padding-bottom: 295px;
    position: relative;
}
.items .main-description p{
	width: 600px;
	line-height: 5px;
}
.caption-description{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	outline: 1px solid green;
	flex-direction: column;
	height: 150px;
	position: absolute;
	top: 370px;
}

.main-description .slide-params{
    margin-top: auto;
}
*/
/**/
    .slider {
        margin-top: -110px;
        margin-bottom: 50px;
        margin-right: 70px;
    }
    .slide-header{
    	font-size: 48px;

    }

    .slide {
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .slide-image {
        width: 300px;
    }

    .slide-description {
        width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding-top: 50px;
    }
    .slide-description .more-info{
    	     font-size: 18px;
    	    letter-spacing: 3.6px;
    }

    .slide-number {
        font-size: 180px;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .slide-params {
        margin-top: auto;
    }
    .slider.smart-bracelete,.slider.drone{
    	display: none;
    }
/**/


.item-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0;

}
ul.type-item li{
	text-align: center;
	width: 160px;
	padding-right: 40px;
}
.services-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service-item.guarantee,.service-item.credit{
	display: none;
}
.services-block .sevices-list li:nth-child(1){
   
}
.sercice-item{

}
section.partners .partners-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.colored{
	display: none;
}
/*
ul.product-slider li:nth-child(1) a{
    position: absolute;
    right: 100px;
    top: 375px;
}
*/
section.partners{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.services{
	min-height: 288px;
    margin-bottom: 94px;
}
.services-list{
    position: relative;
    top: -20px;
    float: left;
    width: 300px;
    margin-top: 0;
    padding-left: 0;
}
.services-list li{
	margin-bottom: 24px;
}
.services-list button{
	min-width: 135px;
    max-width: 250px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    padding: 9px 5px;
    text-align: center;
}
.services-item{
	float: right;
	width: 715px;
	margin-right: 45px;
    padding-top: 10px;
    padding-left: 10px;
    clear: both;
    position: relative;
}
.services-item h2{
	float: left;
    width: 440px;
    margin-top: 0;
    margin-bottom: 26px;
    letter-spacing: .018em;
}

/*services container*/
/*partners*/
.partners{
	margin-bottom: 95px;
	font-size: 0;
}
.our-partners li{
    display: inline-block;
    position: relative;
    width: 260px;
    margin-right: 40px;
}
/*
.about-company{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
*/
.about-company {
    display: flex;
    justify-content: space-between;
}

.about-us, .contacts {
    width: 560px;
}
/*main-footer*/
.foot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}
.footer-center .links-for-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; 
}
.footer-center .links-for-footer li{
	padding-right: 50px;
}
.footer-center .social-for-footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
}

.footer-center .social-for-footer li{
	margin-right: 50px;
	padding-left: 30px;
}
.footer-right .footer-for-user{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-right .footer-for-user li{
	padding-right: 20px;
}
.catalog-title .main-title{
	padding-top: 40px;
	padding-left: 50px;
}
.catalog-title .breadcrumbs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.catalog-title .breadcrumbs li{
	padding-left: 20px;
}
.content-block {
  display: flex;
  justify-content: space-between;
}

.form-filter {
  flex: 0 0 468px; 
}

.catalog-body {
  flex: 0 0 973px; 
}

.content-items {
  display: flex;
  flex-wrap: wrap;
}

.thing-item {
  flex: 0 0 361px;  
  margin-top: 40px; 
}

.thing-item:first-child,
.thing-item:nth-child(2) {
  margin-top: 0; 
}

.list-navigation, 
.products-catalog{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	letter-spacing: 0.2em;
	float: left;

}
.list-navigation li{
	list-style-type: none;
}
.dropdown-menu li{
    list-style-type: none; 
    font-family: "Open Sans Light","Arial", sans-serif;
    display: none;
 }
 .dropdown-menu li a{
 	text-decoration: none;
 	font-size: 15px;
 	color: #464646;
 }
 .nav-delivery,
 .nav-guarantees,
 .nav-contacts{
 	text-decoration: none;
 	color: #000;
 	font-size: 18px;
 	letter-spacing: 0.15em;
 }
 .selfie-caption{
 	font-size: 47px;
 	letter-spacing: 1px;
 	line-height: 56px;
 }

 .main-description p{
 	font-size: 15px;
 	letter-spacing: 0.01em;
 	color: #464646;
 	line-height: 25px;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .details .feature{
 	font-size: 36px;
 	letter-spacing: 0.01em;
 	font-family: "Gilroy-light","Arial", sans-serif;
 }
 .details .type{
 	font-size: 13px;
 	letter-spacing: 0.01em;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .big-number{
 	font-size: 179px;
 	letter-spacing: 0.01em;
 	color: #000;
 }
 .more-info{
 	letter-spacing: 0.01em;
 	color: #000;
 	font-size: 18px;
 	letter-spacing: 4px;
 	text-decoration: none;
 }
 
.type-item-list {
    display: flex;
    justify-content: space-between; 
}

.type-item-list li {
    width: 160px; 
    list-style-type: none;
}
.type-item-list li h3{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
}

.type-link-image-wrapper {
    background-color: #f7e296;
    height: 160px; 
    margin-bottom: 20px; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.services{
	background-color: #e5e5e5;
}
.services-list li{
	list-style-type: none;
	
}
.services-list button{
	font-size: 18px;
	color: #000;
	letter-spacing: 0.01em;
}
.services-list button:focus{
	color: #f7e184;
}
.service-item h2{
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
}

.service-item p{
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 30px;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.about-us h2{
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
}
.about-us p{
	font-family: "Open sans light","Arial", sans-serif;
	font-size: 15px;
	color: #464646;
	line-height: 30px;
}
.about-us ul li{
	list-style-type: none;
	letter-spacing: 0.01em;
	line-height: 40px;	
}
.about-us a{
	text-decoration: none;
	color: #000;
	letter-spacing: 0.2em;
	font-size: 18px;
}
.contacts p{
	color: #464646;;
	line-height: 30px;
	font-size: 15px;
}
.contacts h2{
	color: #000;
	font-size: 47px;
}
.main-footer{
	background-color: #464646;
}
.footer-left h2{
	font-size: 48px;
	color: #ffc600;
    letter-spacing: 0.01em;
}
.footer-left p{
	font-size: 15px;
	line-height: 30px;
	color: #fff;
}
.links-for-footer a{
	text-decoration: none;
	line-height: 24px;
	letter-spacing: .2em;
	list-style-type: none;
	color: #000;
}
.links-for-footer li{
	list-style-type: none;
	color: #000;
}
.footer-for-user a{
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	color: #000;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.footer-for-user li{
	list-style: none;
}
.write-us-name,
.write-us-email,
.write-us-letter{
	font-size: 18px;
	line-height: 24px;
}
.write-us-send-btn{
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 24px;
}



/*Стили для каталога*/

.catalog-title h1{
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}
.breadcrumbs li,a{
	text-decoration: none;
	list-style-type: none;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.01em;
	line-height: 24px;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.filters-sorter h2{
	font-size: 16px;
	letter-spacing: .2em;
	color: #000;
	line-height: 24px;
}
.catalog-sorting li,
.sorting-inside{
	font-size: 14px;
	line-height: 18px;
    list-style-type: none;
}

.catalog-sorting-slider li{
	list-style-type: none;
}
.filter-for-user legend{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.filter-for-user span{
	color: #000;
	font-family: "Gilroy-light","Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.color label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.bluetooth label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.show{
	font-size: 18px;
	letter-spacing: .2em;
}
.thing-item .in-basket{
	font-size: 24px;
	letter-spacing: .2em;
	line-height: 24px;
}
.thing-item .upload-to-compair{
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.thing-item a{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.thing-item span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-family: "Gilroy-light","Arial", sans-serif;
}

.main-elements-nav li span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav .back-btn,.next-btn{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
