@font-face{
	font-family: "Gilroy-ExtraBold";
	src: url("css/Gilroy-ExtraBold.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "Open Sans Light";
    src: url("css/2209.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
	font-family: "Arial";
	src: url("css/9041.ttf") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Gilroy-light";
	src: url("css/10177.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "MyriadPro-Regular";
	src: url("css/8143.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
.main-header{
	background-color: #f7e296;
}
 .main-caption{
    font-size: 48px;
    color: #000;
    letter-spacing: 0.01em;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;   
}
 
}
.function-for-user li {
	text-decoration: none;
	font-size: 15px;

}
.function-for-user a{
	text-decoration: none;
	color: #000;
	font-family: "Open Sans Light","Arial", sans-serif; 
}


.list-navigation, 
.products-catalog{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	letter-spacing: 0.2em;

}
.list-navigation li{
	list-style-type: none;
}
.dropdown-menu li{
    list-style-type: none; 
    font-family: "Open Sans Light","Arial", sans-serif;
 }
 .dropdown-menu li a{
 	text-decoration: none;
 	font-size: 15px;
 	color: #464646;
 }
 .nav-delivery,
 .nav-guarantees,
 .nav-contacts{
 	text-decoration: none;
 	color: #000;
 	font-size: 18px;
 	letter-spacing: 0.15em;
 }
 .caption-description1,
 .caption-description2,
 .caption-description3{
 	font-size: 47px;
 	letter-spacing: 0.1em;
 	line-height: 56px;
 }

 .main-description p{
 	font-size: 15px;
 	letter-spacing: 0.01em;
 	color: #464646;
 	line-height: 30px;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .details
  .feature{
 	font-size: 36px;
 	letter-spacing: 0.01em;
 	font-family: "Gilroy-light","Arial", sans-serif;
 }
 .details
 .type{
 	font-size: 13px;
 	letter-spacing: 0.01em;
 	font-family: "Open Sans Light","Arial", sans-serif;
 }
 .big-number{
 	font-size: 179px;
 	letter-spacing: 0.01em;
 	color: #fff;
 }
 .more-info{
 	letter-spacing: 0.01em;
 	color: #000;
 	font-size: 36px;
 	text-decoration: none;
 }
 .type-item-list a{
 	background-color: #f7e296;
 }
.type-item-list p{
	letter-spacing: 0.01em;
	font-size: 18px;
	color: #000;
	line-height: 24px;

}
.type-item-list li{
	list-style-type: none;
}
.services{
	background-color: #e5e5e5;
}
.services-list li{
	list-style-type: none;
	
}
.services-list button{
	font-size: 18px;
	color: #000;
	letter-spacing: 0.01em;
}
.services-list button:focus{
	color: #f7e184;
	letter-spacing: 0.01em;
	font-size: 18px;
}
.service-item h2{
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
}

.service-item p{
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 30px;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.about-us h2{
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
}
.about-us p{
	font-family: "MyriadPro-Regular","Arial", sans-serif;
	font-size: 15px;
	color: #464646;
	line-height: 30px;
}
.about-us ul li{
	list-style-type: none;
	letter-spacing: 0.01em;
	line-height: 40px;	
}
.about-us a{
	text-decoration: none;
	color: #000;
	letter-spacing: 0.2em;
	font-size: 18px;
}
.contacts p{
	color: #464646;;
	line-height: 30px;
	font-size: 15px;
}
.contacts h2{
	color: #000;
	font-size: 47px;
}
.main-footer{
	background-color: #464646;
}
.footer-left h2{
	font-size: 48px;
	color: #ffc600;
    letter-spacing: 0.01em;
}
.footer-left p{
	font-size: 15px;
	line-height: 30px;
	color: #fff;
}
.links-for-footer a{
	text-decoration: none;
	line-height: 24px;
	letter-spacing: .2em;
	list-style-type: none;
	color: #000;
}
.links-for-footer li{
	list-style-type: none;
	color: #000;
}
.footer-for-user a{
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	color: #000;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.footer-for-user li{
	list-style: none;
}
.write-us-name,
.write-us-email,
.write-us-letter{
	font-size: 18px;
	line-height: 24px;
}
.write-us-send-btn{
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 24px;
}



/*Стили для каталога*/

.catalog-title h1{
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}
.breadcrumbs li,a{
	text-decoration: none;
	list-style-type: none;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.01em;
	line-height: 24px;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.filters-sorter h2{
	font-size: 16px;
	letter-spacing: .2em;
	color: #000;
	line-height: 24px;
}
.catalog-sorting li,
.sorting-inside{
	font-size: 14px;
	line-height: 18px;
    list-style-type: none;
}

.catalog-sorting-slider li{
	list-style-type: none;
}
.filter-for-user legend{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.filter-for-user span{
	color: #000;
	font-family: "Gilroy-light","Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.color label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.bluetooth label{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
	font-family: "Open Sans Light","Arial", sans-serif;
}
.show{
	font-size: 18px;
	letter-spacing: .2em;
}
.thing-item 
.in-basket{
	font-size: 24px;
	letter-spacing: .2em;
	line-height: 24px;
}
.thing-item
.upload-to-compair{
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.thing-item a{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}
.thing-item span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-family: "Gilroy-light","Arial", sans-serif;
}

.main-elements-nav li span{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav .back-btn,.next-btn{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
}
.main-elements-nav a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .2em;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
