@font-face{
	font-family: Gilroy-ExtraBold;
	src: url("C:/Users/vdm-6/Desktop/htmlAcademy/Gilroy-ExtraBold.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: Open Sans Light;
    src: url("C:/Users/vdm-6/Desktop/htmlAcademy/2209.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
	font-family: Arial;
	src: url("C:/Users/vdm-6/Desktop/htmlAcademy/9041.ttf") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: Gilroy-light;
	src: url("C:/Users/vdm-6/Desktop/htmlAcademy/10177.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: MyriadPro-Regular;
	src: url("C:/Users/vdm-6/Desktop/htmlAcademy/8143.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body{
	font-family: "Open Sans Light","Arial", sans-serif;
}
.main-caption{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
    font-size: 48px;
    color: #000;
    letter-spacing: 0.01em;
}
.function-for-user li a{
	text-decoration: none;
	font-size: 15px; 
}


.list-navigation 
.products-catalog{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	letter-spacing: 0.2em;

}
.list-navigation li{
	list-style-type: none;
}
.dropdown-menu li{
    list-style-type: none; 
    font-family: "Open Sans Light","Arial", sans-serif;
 }
 .dropdown-menu li a{
 	text-decoration: none;
 	font-size: 15px;
 	color: #464646;
 }
 .nav-delivery,
 .nav-guarantees,
 .nav-contacts{
 	text-decoration: none;
 	color: #000;
 	font-size: 18px;
 	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
 	letter-spacing: 0.15em;
 }
 .caption-description1,
 .caption-description2,
 .caption-description3{
 	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
 	font-size: 47px;
 	letter-spacing: 0.1em;
 	line-height: 56px;
 }

 .main-description p{
 	font-size: 15px;
 	letter-spacing: 0.01em;
 	color: #464646;
 	line-height: 30px;
 }
 .details
  .feature{
 	font-size: 36px;
 	letter-spacing: 0.01em;
 }
 .details
 .type{
 	font-size: 13px;
 	letter-spacing: 0.01em;
 	font-family: " Gilroy-light","Arial", sans-serif;
 }
 .big-number{
 	font-size: 179px;
 	letter-spacing: 0.01em;
 	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
 	color: #fff;
 }
 .more-info{
 	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
 	letter-spacing: 0.01em;
 	color: #000;
 	font-size: 36px;
 	text-decoration: none;
 }
.type-item-list p{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	letter-spacing: 0.01em;
	font-size: 18px;
	color: #000;
	line-height: 24px;
}
.type-item-list li{
	list-style-type: none;
}
.services-list li{
	list-style-type: none;
	
}
.services-list button{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	color: #000;
	letter-spacing: 0.01em;
}
.services-list button:focus{
	color: #f7e184;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	letter-spacing: 0.01em;
	font-size: 18px;
}
.service-item h2{
	color: #000;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	letter-spacing: 0.01em;
	font-size: 47px;
}

.service-item p{
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 30px;
}
.about-us h2{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	color: #000;
	letter-spacing: 0.01em;
	font-size: 47px;
}
.about-us p{
	font-family: "MyriadPro-Regular","Arial", sans-serif;
	font-size: 15px;
	color: #464646;
	line-height: 30px;
}
.about-us ul li{
	list-style-type: none;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	color: 0.01em;
	line-height: 40px;	
}
.about-us a{
	text-decoration: none;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	color: #000;
	letter-spacing: 0.2em;
	font-size: 18px;
}
.contacts p{
	font-family: "MyriadPro-Regular","Arial", sans-serif;
	color: #464646;;
	line-height: 30px;
	font-size: 15px;
}
.contacts h2{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	color: #000;
	font-size: 47px;
}
.footer-left h2{
	font-size: 48px;
	color: #ffc600;
    letter-spacing: 0.01em;
    font-family: "Gilroy-ExtraBold","Arial", sans-serif;
}
.footer-left p{
	font-size: 15px;
	line-height: 30px;
	color: #fff;
}
.links-for-footer a{
	text-decoration: none;
	line-height: 24px;
	letter-spacing: .2em;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	list-style-type: none;
	color: #fff;
}
.links-for-footer li{
	list-style-type: none;
	color: #fff;
}
.footer-for-user a{
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 36px;
	color: #fff;
}
.footer-for-user li{
	list-style: none;
}
.write-us-name,
.write-us-email,
.write-us-letter{
	font-size: 18px;
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	line-height: 24px;
}
.write-us-send-btn{
	font-family: "Gilroy-ExtraBold","Arial", sans-serif;
	font-size: 18px;
	letter-spacing: .2em;
	line-height: 24px;
}